@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: hidden;
}

*:focus {
    outline: none;
}

option:hover {
    background: var(--third);
}

.light {
    --main: #E9EFEC;
    --secondary: #153448;
    --third: #7AB2B2;
    --bg: #ececec;
    --divider: #dcdddd;
    --input-bg: #F5F7F8;
    --second-divider: #cbd2dc;
}

.dark {
    --main: #222831;
    --secondary: #EEEEEE;
    --third: #76ABAE;
    --bg: #1e252b;
    --divider: #31363F;
    --input-bg: #31363F;
    --second-divider: #434850;
}